<!-- HEADER -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <p class="mat-headline m-0">CovidApp</p>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logOut()">Log out</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<!-- SIDENAV -->
<mat-sidenav-container>
  <!-- [opened]="screenWidth > 840" used before in mat-sidenav -->
  <mat-sidenav
    class="my_primary"
    [opened]="screenWidth > 840"
    [mode]="screenWidth > 840 ? 'side' : 'over'"
    #sidenav
  >
    <!-- profile -->
    <div class="card bg-transparent border-0 text-center">
      <div class="card-body">
        <div class="imgBox mx-auto">
          <img class="card-img" src="../assets/img/sandeep1.jpg" />
        </div>
        <p class="mat-headline text-light">Sandeep Saini</p>
      </div>
    </div>
    <mat-selection-list [multiple]="false">
      <!-- Authentication -->
      <!-- <mat-list-option
        class="text-light"
        [routerLink]="['/auth']"
        routerLinkActive="myActive"
      >
        <div class="d-flex">
          <span>Authentication</span>
          <span class="example-spacer"></span>
          <mat-icon>login</mat-icon>
        </div>
      </mat-list-option> -->

      <!-- Dashboard -->
      <mat-list-option
        class="text-light"
        [routerLink]="['/dashboard']"
        routerLinkActive="myActive"
      >
        <div class="d-flex">
          <span>Dashboard</span>
          <span class="example-spacer"></span>
          <mat-icon>data_usage</mat-icon>
        </div>
      </mat-list-option>

      <!-- Media -->
      <mat-list-option
        class="text-light"
        [routerLink]="['/media']"
        routerLinkActive="myActive"
      >
        <div class="d-flex">
          <span>Media</span>
          <span class="example-spacer"></span>
          <mat-icon>play_circle_outline</mat-icon>
        </div>
      </mat-list-option>

      <!-- Add Media -->
      <mat-list-option
        class="text-light"
        [routerLink]="['/addMedia']"
        routerLinkActive="myActive"
      >
        <div class="d-flex">
          <span>Add Media</span>
          <span class="example-spacer"></span>
          <mat-icon>add_circle_outline</mat-icon>
        </div>
      </mat-list-option>

      <!-- Covid Updates -->
      <mat-list-option
        class="text-light"
        [routerLink]="['/covid']"
        routerLinkActive="myActive"
      >
        <div class="d-flex">
          <span>Covid Updates</span>
          <span class="example-spacer"></span>
          <mat-icon>bar_chart</mat-icon>
        </div>
      </mat-list-option>

      <!-- Call Helpline -->
      <mat-list-option
        class="text-light"
        [routerLink]="['/helpline']"
        routerLinkActive="myActive"
      >
        <div class="d-flex">
          <span>Call Helpline (1075)</span>
          <span class="example-spacer"></span>
          <mat-icon>phone_forwarded</mat-icon>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
